@model List<ViewInterviewViewModel>;

@{
    ViewData["Title"] = "Interviews";
    Layout = "~/Views/Shared/_AdminRecruiterLayout.cshtml";
}

<!-- Basic table -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Interviews</h5>
    </div>

    <!--<div class="header-elements text-right mr-2">

        <a asp-action="ExportRecruiterAppliedJobsReport" asp-controller="JobAdvert" class="btn btn-success">Export</a>

    </div>-->

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>

                    <th>Job</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Interviewer</th>
                    <th>Applicant</th>
                    <th>Contacts</th>
                    <th>Interview Link</th>
                    <th>Interview Type</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var status = "";
                    var link = "";

                    if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            if (item.InterviewType.Equals("Virtual"))
                            {
                                status = "Open";
                                link = item.InterviewLink;
                            }
                            else
                            {
                                status = "None";
                                link = "#";
                            }

                                <tr>
                                    <td>@item.Job</td>
                                    <td>@item.InterviewDate.Value.ToString("yyyy-MM-dd")</td>
                                    <td>@item.Time</td>
                                    <td>@item.Interviewer</td>
                                    <td>@item.Applicant</td>

                                    <td>@item.Phone <a href="mailto:@item.Email">@item.Email</a></td>
                                    <td><a href="@link" target="_blank">@status</a></td>
                                    <td>@item.InterviewType</td>
                                </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<!-- /basic table -->
