
@model SearchFilterAndDataModel;
@{
    ViewData["Title"] = "AdminViewRecruiter";
    Layout = "~/Views/Shared/_AdminRecruiterLayout.cshtml";
}

<!--<div class="header-elements text-right mr-2">

    <a asp-action="ExportRecruiterReport" asp-controller="Recruiter" class="btn btn-success">Export</a>

</div-->

@{ if (TempData["RecruiterDeleted"] != null)
    {
        <div class="alert alert-success">@TempData["RecruiterDeleted"]</div>
    }
}

<!-- Basic table -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Recruiters</h5>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Company</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.ViewRecruiterViewModel)
                    {



                        <tr>
                            <td></td>
                            <td>@item.FullName</td>
                            <td>@item.Email</td>
                            <td>@item.CompanyName</td>
                            <td>
                                <a asp-action="Edit" asp-controller="Recruiter" asp-route-id="@item.RecruiterId" class="btn btn-primary"> Edit </a>

                                <!--<form asp-action="Delete" asp-controller="Recruiter" method="post" asp--route-id = "">
                                    <button onclick="return confirm('Are you sure you want to delete :')" class="btn btn-danger" type="submit">Submit</button>
                                </form>-->
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<!-- /basic table -->
